# Project 1

### Importing Data

In [383]:
import pandas as pd

In [384]:
df = pd.read_excel("2018_Statistical_Annex_Table_1.xlsx",index_col = False)

### Initial Interpretations

In [385]:
#we use the head function to get a quick sense of the structure of the data
df.head()

,Table 1. Human Development Index and its components,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,SDG 3,NaN,SDG 4.3,NaN,SDG 4.6,NaN,SDG 8.5,NaN,NaN,NaN,NaN
1,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
2,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2011 PPP $),NaN,NaN,NaN,NaN
3,NaN,NaN,2017,NaN,2017,NaN,2017,a,2017,a,2017,NaN,2017,NaN,2016
4,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cleanup

We see that the data is tabulated with some custom nested headers, the field names are spread across rows 3 and 4. In order to make the data more compatible the pandas dataframe structure we will remove the extraneous headings and have the data entries properly aligned.

In [386]:
data = df[5:]

In [387]:
data.head()

,Table 1. Human Development Index and its components,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
5,1,Norway,0.952522,NaN,82.328,NaN,17.8521,NaN,12.5668,NaN,68012.5,NaN,5,NaN,1
6,2,Switzerland,0.943998,NaN,83.473,NaN,16.2088,NaN,13.408,NaN,57625.1,NaN,8,NaN,2
7,3,Australia,0.938631,NaN,83.068,NaN,22.9213,b,12.855,NaN,43560.1,NaN,18,NaN,3
8,4,Ireland,0.93841,NaN,81.643,NaN,19.6137,b,12.5263,c,53754.2,NaN,8,NaN,4
9,5,Germany,0.936043,NaN,81.178,NaN,16.956,NaN,14.082,NaN,46135.8,NaN,13,NaN,4

In [388]:
headers = df.iloc[1].values.tolist()

In [389]:
headers

[nan,
 nan,
 'Human Development Index (HDI) ',
 nan,
 'Life expectancy at birth',
 nan,
 'Expected years of schooling ',
 nan,
 'Mean years of schooling',
 nan,
 'Gross national income (GNI) per capita',
 nan,
 'GNI per capita rank minus HDI rank',
 nan,
 'HDI rank']

In [390]:
headers[0] = "HDI Rank"
headers[1] = "Country"

In [391]:
data.columns = headers

In [392]:
data.head()

,HDI Rank,Country,Human Development Index (HDI),nan,Life expectancy at birth,nan,Expected years of schooling,nan,Mean years of schooling,nan,Gross national income (GNI) per capita,nan,GNI per capita rank minus HDI rank,nan,HDI rank
5,1,Norway,0.952522,NaN,82.328,NaN,17.8521,NaN,12.5668,NaN,68012.5,NaN,5,NaN,1
6,2,Switzerland,0.943998,NaN,83.473,NaN,16.2088,NaN,13.408,NaN,57625.1,NaN,8,NaN,2
7,3,Australia,0.938631,NaN,83.068,NaN,22.9213,b,12.855,NaN,43560.1,NaN,18,NaN,3
8,4,Ireland,0.93841,NaN,81.643,NaN,19.6137,b,12.5263,c,53754.2,NaN,8,NaN,4
9,5,Germany,0.936043,NaN,81.178,NaN,16.956,NaN,14.082,NaN,46135.8,NaN,13,NaN,4

In [393]:
data = data.loc[:, data.columns.notnull()]
data.head()

,HDI Rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
5,1,Norway,0.952522,82.328,17.8521,12.5668,68012.5,5,1
6,2,Switzerland,0.943998,83.473,16.2088,13.408,57625.1,8,2
7,3,Australia,0.938631,83.068,22.9213,12.855,43560.1,18,3
8,4,Ireland,0.93841,81.643,19.6137,12.5263,53754.2,8,4
9,5,Germany,0.936043,81.178,16.956,14.082,46135.8,13,4

Our dataset looks clean! However we can still count the null values.

In [394]:
data.isnull().sum().sum()

424

In [395]:
data.tail(69)

,HDI Rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
196,189,Niger,0.353931,60.422,5.36851,1.95133,905.868,-2,188
197,NaN,OTHER COUNTRIES OR TERRITORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,..,Korea (Democratic People's Rep. of),..,71.887,12.0002,..,..,..,..
199,..,Monaco,..,..,..,..,..,..,..
200,..,Nauru,..,..,10.3143,..,18573,..,..
201,..,San Marino,..,..,15.1112,..,..,..,..
202,..,Somalia,..,56.714,..,..,..,..,..
203,..,Tuvalu,..,..,..,..,5887.72,..,..
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,Human development groups,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,Very high human development,0.894281,79.4885,16.4405,12.2099,40041.5,—,—
207,NaN,High human development,0.757415,76.0218,14.1078,8.2263,14998.8,—,—
208,NaN,Medium human development,0.644983,69.0877,11.9871,6.70488,6849.47,—,—
209,NaN,Low human development,0.503578,60.7591,9.38661,4.71005,2521.27,—,—
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,Developing countries,0.681154,70.6626,12.1855,7.31764,10055.1,—,—
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,Regions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,Arab States,0.698955,71.5065,11.9061,7.03488,15836.7,—,—
215,NaN,East Asia and the Pacific,0.733434,74.6674,13.2928,7.86216,13687.7,—,—
216,NaN,Europe and Central Asia,0.770721,73.3924,14.0874,10.2557,15331.2,—,—
217,NaN,Latin America and the Caribbean,0.757989,75.7165,14.4407,8.48381,13670.7,—,—
218,NaN,South Asia,0.637835,69.2612,11.8742,6.41105,6473.29,—,—
219,NaN,Sub-Saharan Africa,0.537136,60.7172,10.0552,5.55459,3399.25,—,—
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,Least developed countries,0.52417,64.7753,9.84892,4.68257,2505.88,—,—
222,NaN,Small island developing states,0.722291,72.268,12.1369,8.59865,15112.8,—,—
223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NaN,Organisation for Economic Co-operation and Dev...,0.89462,80.5768,16.2425,11.9746,39595.1,—,—
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
235,NaN,g. Value from UNDESA (2011).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,h. Imputed mean years of schooling for Austria.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,i. Estimated using the purchasing power parity...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,j. Based on Barro and Lee (2016).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,k. HDRO estimate based on data from World Bank...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,l. Updated by HDRO using Barro and Lee (2016) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,m. Estimated using the PPP rate and projected ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,n. Based on cross-country regression.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,o. Updated by HDRO based on data from United N...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,p. Based on a cross-country regression and the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,q. Updated by HDRO based on data from ICF Macr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,NaN,r. Updated by HDRO based on Syrian Center for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,NaN,s. HDRO estimate based on data from World Bank...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,Definitions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,Human Development Index (HDI): A composite ind...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,NaN,Life expectancy at birth: Number of years a ne...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,NaN,Expected years of schooling: Number of years o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,NaN,Mean years of schooling: Average number of yea...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,Gross national income (GNI) per capita: Aggreg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,GNI per capita rank minus HDI rank: Difference...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,HDI rank for 2016: Ranking by HDI value for 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,NaN,Main data sources,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,NaN,Columns 1 and 7: HDRO calculations based on da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,NaN,Column 2: UNDESA (2017a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,NaN,Column 3: UNESCO Institute for Statistics (201...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,NaN,Column 4: UNESCO Institute for Statistics (201...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,NaN,"Column 5: World Bank (2018b), IMF (2018) and U...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It appears our data is still full of null values. The end of our dataset is the issue. We can remove these problematic rows by keeping only rows with numeric values for 'HDI rank'.

In [396]:
data = data[pd.to_numeric(data['HDI rank'], errors='coerce').notnull()]
data.isnull().sum().sum() # count the null values again

0

In [397]:
data.head(69)

,HDI Rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
5,1,Norway,0.952522,82.328,17.8521,12.5668,68012.5,5,1
6,2,Switzerland,0.943998,83.473,16.2088,13.408,57625.1,8,2
7,3,Australia,0.938631,83.068,22.9213,12.855,43560.1,18,3
8,4,Ireland,0.93841,81.643,19.6137,12.5263,53754.2,8,4
9,5,Germany,0.936043,81.178,16.956,14.082,46135.8,13,4
10,6,Iceland,0.934879,82.912,19.3479,12.3638,45810.2,13,6
11,7,"Hong Kong, China (SAR)",0.932583,84.097,16.3257,12.0381,58419.7,2,8
12,7,Sweden,0.932805,82.625,17.6346,12.4261,47765.7,9,7
13,9,Singapore,0.932042,83.218,16.2,11.4747,82503.1,-6,8
14,10,Netherlands,0.930639,82.005,18.0448,12.19,47899.8,5,10
15,11,Denmark,0.929474,80.878,19.0661,12.5878,47918.5,3,10
16,12,Canada,0.925952,82.541,16.4374,13.2819,43433.2,10,12
17,13,United States,0.923914,79.541,16.4682,13.38,54941.1,-2,12
18,14,United Kingdom,0.921549,81.717,17.4429,12.8887,39116.3,13,14
19,15,Finland,0.919653,81.496,17.6397,12.4396,41002.3,10,15
20,16,New Zealand,0.916688,82.038,18.8651,12.503,33969.7,18,16
21,17,Belgium,0.916066,81.303,19.7624,11.7839,42156.4,6,16
22,17,Liechtenstein,0.916083,80.41,14.7209,12.5485,97335.7,-15,16
23,19,Japan,0.909153,83.908,15.2328,12.75,38986.2,9,19
24,20,Austria,0.907755,81.77,16.0812,12.1487,45415.1,0,20
25,21,Luxembourg,0.903939,81.955,14.016,12.0801,65016.3,-13,26
26,22,Israel,0.903245,82.664,15.9101,12.9592,32711.4,13,21
27,22,Korea (Republic of),0.902561,82.361,16.4975,12.1163,35944.7,8,22
28,24,France,0.900802,82.716,16.4159,11.5108,39253.9,2,23
29,25,Slovenia,0.896224,81.116,17.2139,12.2219,30594,12,24
30,26,Spain,0.89102,83.301,17.877,9.81948,34258.3,7,25
31,27,Czechia,0.887561,78.877,16.8548,12.7403,30588.3,11,27
32,28,Italy,0.879769,83.169,16.2722,10.1604,35299.2,3,28
33,29,Malta,0.878187,81.012,15.8966,11.2881,34395.6,3,29
34,30,Estonia,0.871042,77.709,16.0884,12.6674,28993.2,10,30
...,...,...,...,...,...,...,...,...,...
44,39,Saudi Arabia,0.853299,74.72,16.929,9.50218,49680.2,-26,38
45,41,Latvia,0.847143,74.719,15.7584,12.8438,25002.5,8,43
46,41,Portugal,0.847113,81.428,16.2965,9.19096,27315.4,2,42
47,43,Bahrain,0.846108,77.038,15.9868,9.41183,41579.9,-19,41
48,44,Chile,0.842859,79.732,16.4006,10.3436,21909.5,13,44
49,45,Hungary,0.837845,76.063,15.0831,11.8894,25393,3,45
50,46,Croatia,0.831102,77.807,14.9625,11.2673,22162.3,10,46
51,47,Argentina,0.82485,76.738,17.424,9.94943,18460.7,19,47
52,48,Oman,0.820989,77.258,13.9449,9.54601,36290.2,-19,47
53,49,Russian Federation,0.816275,71.222,15.5357,12.02,24232.6,3,49
54,50,Montenegro,0.813692,77.271,14.9017,11.2872,16778.7,19,50
55,51,Bulgaria,0.813006,74.874,14.8105,11.8148,18740.1,13,50
56,52,Romania,0.811192,75.574,14.2653,10.9784,22645.5,2,52
57,53,Belarus,0.80753,73.07,15.4513,12.2638,16323.5,18,54
58,54,Bahamas,0.807126,75.823,12.8226,11.0799,26680.6,-10,53
59,55,Uruguay,0.803948,77.645,15.9098,8.71883,19930.4,5,56
60,56,Kuwait,0.803066,74.811,13.5873,7.27567,70523.9,-51,55
61,57,Malaysia,0.801808,75.452,13.6756,10.1682,26107.3,-11,57
62,58,Barbados,0.800269,76.057,15.2926,10.5569,15842.9,14,57
63,58,Kazakhstan,0.800435,70.027,15.149,11.784,22626.4,-3,60
65,60,Iran (Islamic Republic of),0.798057,76.153,14.8806,9.84018,19130.2,3,61
66,60,Palau,0.798478,73.445,15.6038,12.3273,12830.6,28,59
67,62,Seychelles,0.796529,73.746,14.7805,9.5,26076.9,-15,62
68,63,Costa Rica,0.793865,80.03,15.3771,8.76355,14636.4,15,63
69,64,Turkey,0.790634,76.009,15.2376,7.96206,24804,-14,65
70,65,Mauritius,0.79012,74.861,15.0573,9.32,20189.3,-6,64
71,66,Panama,0.78932,78.195,12.6999,10.17,19178.2,-4,66
72,67,Serbia,0.786693,75.333,14.6419,11.1272,13018.7,18,66
73,68,Albania,0.784911,78.495,14.7729,10.0251,11885.5,23,69
74,69,Trinidad and Tobago,0.783915,70.783,12.9,10.898,28622.3,-28,66

In [398]:
data.to_csv("out.csv")

## Expanding

Now we can add some data from another table to our dataset. We can start by cleaning this data. We'll follow many of the same steps as before.

In [399]:
df = pd.read_excel("2018_Statistical_Annex_Table_5.xlsx",index_col = False)
df.head(20)

,Table 5. Gender Inequality Index,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,SDG3.1,NaN,SDG3.7,NaN,SDG5.5,NaN,SDG4.6,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Gender Inequality Index,NaN,NaN,NaN,Maternal mortality ratio,NaN,Adolescent birth rate,NaN,Share of seats in parliament,NaN,Population with at least some secondary education,NaN,NaN,NaN,Labour force participation rate,NaN,NaN
3,NaN,NaN,Value,NaN,Rank,NaN,"(deaths per 100,000 live births)",NaN,"(births per 1,000 women ages 15–19)",NaN,(% held by women),NaN,(% ages 25 and older),NaN,NaN,NaN,(% ages 15 and older),NaN,NaN
4,HDI rank,Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,NaN,Male,NaN,Female,NaN,Male
5,NaN,NaN,2017,NaN,2017,NaN,2015,NaN,2015-2020,b,2017,NaN,2010–2017,c,2010–2017,c,2017,NaN,2017
6,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,Norway,0.0481388,NaN,5,NaN,5,NaN,5.592,NaN,41.4201,NaN,96.2987,NaN,95.113,NaN,60.8,NaN,67.6
8,2,Switzerland,0.0393197,NaN,1,NaN,5,NaN,2.989,NaN,29.2683,NaN,96.3714,NaN,97.1626,NaN,62.9,NaN,74.1
9,3,Australia,0.109091,NaN,23,NaN,6,NaN,12.902,NaN,32.7434,NaN,90.0339,NaN,89.9195,NaN,59.2,NaN,70.5
10,4,Ireland,0.109382,NaN,23,NaN,8,NaN,9.662,NaN,24.3119,NaN,90.238,NaN,86.308,NaN,53,NaN,67.3
11,5,Germany,0.0720575,NaN,14,NaN,6,NaN,6.535,NaN,31.491,NaN,96.2394,NaN,96.831,NaN,55,NaN,66.2
12,6,Iceland,0.0618811,NaN,9,NaN,3,NaN,6.805,NaN,38.0952,NaN,100,NaN,100,NaN,72.8,NaN,81.8
13,7,"Hong Kong, China (SAR)",..,NaN,..,NaN,..,NaN,2.705,NaN,..,NaN,75.6529,NaN,81.8309,NaN,54,NaN,68.1
14,7,Sweden,0.0435777,NaN,3,NaN,4,NaN,5.239,NaN,43.553,NaN,88.3559,NaN,88.6912,NaN,60.8,NaN,67.4
15,9,Singapore,0.0669362,NaN,12,NaN,10,NaN,3.678,NaN,23,NaN,76.1447,NaN,82.8825,NaN,60.5,NaN,76.8
16,10,Netherlands,0.0436475,NaN,3,NaN,7,NaN,3.993,NaN,35.5556,NaN,86.378,NaN,90.3766,NaN,58,NaN,69.2
17,11,Denmark,0.0398647,NaN,2,NaN,6,NaN,4.123,NaN,37.4302,NaN,90.1297,NaN,91.2528,NaN,59.2,NaN,67.2
18,12,Canada,0.0921445,NaN,20,NaN,7,NaN,9.402,NaN,30.1149,NaN,100,NaN,100,NaN,60.7,NaN,69.8
19,13,United States,0.189243,NaN,41,NaN,14,NaN,18.789,NaN,19.6629,NaN,95.4784,NaN,95.1798,NaN,55.7,NaN,68.3

In [400]:
data2 = df[7:]
data2.head()

,Table 5. Gender Inequality Index,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
7,1,Norway,0.0481388,NaN,5,NaN,5,NaN,5.592,NaN,41.4201,NaN,96.2987,NaN,95.113,NaN,60.8,NaN,67.6
8,2,Switzerland,0.0393197,NaN,1,NaN,5,NaN,2.989,NaN,29.2683,NaN,96.3714,NaN,97.1626,NaN,62.9,NaN,74.1
9,3,Australia,0.109091,NaN,23,NaN,6,NaN,12.902,NaN,32.7434,NaN,90.0339,NaN,89.9195,NaN,59.2,NaN,70.5
10,4,Ireland,0.109382,NaN,23,NaN,8,NaN,9.662,NaN,24.3119,NaN,90.238,NaN,86.308,NaN,53,NaN,67.3
11,5,Germany,0.0720575,NaN,14,NaN,6,NaN,6.535,NaN,31.491,NaN,96.2394,NaN,96.831,NaN,55,NaN,66.2

In [401]:
headers = df.iloc[2].values.tolist()
headers

[nan,
 nan,
 'Gender Inequality Index',
 nan,
 nan,
 nan,
 'Maternal mortality ratio',
 nan,
 'Adolescent birth rate',
 nan,
 'Share of seats in parliament',
 nan,
 'Population with at least some secondary education',
 nan,
 nan,
 nan,
 'Labour force participation rate ',
 nan,
 nan]

In [402]:
headers[0] = 'HDI rank'
headers[1] = 'Country'

In [403]:
data2.columns = headers
data2.head()

,HDI rank,Country,Gender Inequality Index,nan,nan,nan,Maternal mortality ratio,nan,Adolescent birth rate,nan,Share of seats in parliament,nan,Population with at least some secondary education,nan,nan,nan,Labour force participation rate,nan,nan
7,1,Norway,0.0481388,NaN,5,NaN,5,NaN,5.592,NaN,41.4201,NaN,96.2987,NaN,95.113,NaN,60.8,NaN,67.6
8,2,Switzerland,0.0393197,NaN,1,NaN,5,NaN,2.989,NaN,29.2683,NaN,96.3714,NaN,97.1626,NaN,62.9,NaN,74.1
9,3,Australia,0.109091,NaN,23,NaN,6,NaN,12.902,NaN,32.7434,NaN,90.0339,NaN,89.9195,NaN,59.2,NaN,70.5
10,4,Ireland,0.109382,NaN,23,NaN,8,NaN,9.662,NaN,24.3119,NaN,90.238,NaN,86.308,NaN,53,NaN,67.3
11,5,Germany,0.0720575,NaN,14,NaN,6,NaN,6.535,NaN,31.491,NaN,96.2394,NaN,96.831,NaN,55,NaN,66.2

Now we decide which columns we want to use.

In [407]:
useful_columns = [headers[0], headers[1], headers[2], headers[6], headers[8], headers[10]]
useful_columns

['HDI rank',
 'Country',
 'Gender Inequality Index',
 'Maternal mortality ratio',
 'Adolescent birth rate',
 'Share of seats in parliament']

We drop the other columns and some rows off the end of our table.

In [405]:
data2 = data2.loc[:, useful_columns]
data2 = data2[:-59]
data2.tail()

,HDI rank,Country,Gender Inequality Index,Maternal mortality ratio,Adolescent birth rate,Share of seats in parliament
194,185,Burundi,0.470664,712,26.782,37.8049
195,186,Chad,0.708285,856,161.09,12.766
196,187,South Sudan,..,789,62.04,26.5589
197,188,Central African Republic,0.673356,882,103.802,8.57143
198,189,Niger,0.648882,553,191.984,16.9591


Finally we can merge our tables on HDI rank and Country

In [406]:
data = pd.merge(data, data2, on=['HDI rank','Country'])
data.head()

,HDI Rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank,Gender Inequality Index,Maternal mortality ratio,Adolescent birth rate,Share of seats in parliament
0,1,Norway,0.952522,82.328,17.8521,12.5668,68012.5,5,1,0.0481388,5,5.592,41.4201
1,2,Switzerland,0.943998,83.473,16.2088,13.408,57625.1,8,2,0.0393197,5,2.989,29.2683
2,3,Australia,0.938631,83.068,22.9213,12.855,43560.1,18,3,0.109091,6,12.902,32.7434
3,4,Ireland,0.93841,81.643,19.6137,12.5263,53754.2,8,4,0.109382,8,9.662,24.3119
4,6,Iceland,0.934879,82.912,19.3479,12.3638,45810.2,13,6,0.0618811,3,6.805,38.0952
5,7,Sweden,0.932805,82.625,17.6346,12.4261,47765.7,9,7,0.0435777,4,5.239,43.553
6,10,Netherlands,0.930639,82.005,18.0448,12.19,47899.8,5,10,0.0436475,7,3.993,35.5556
7,12,Canada,0.925952,82.541,16.4374,13.2819,43433.2,10,12,0.0921445,7,9.402,30.1149
8,14,United Kingdom,0.921549,81.717,17.4429,12.8887,39116.3,13,14,0.116226,9,12.498,28.5223
9,15,Finland,0.919653,81.496,17.6397,12.4396,41002.3,10,15,0.057871,3,6.769,42
10,16,New Zealand,0.916688,82.038,18.8651,12.503,33969.7,18,16,0.135748,11,20.022,38.3333
11,19,Japan,0.909153,83.908,15.2328,12.75,38986.2,9,19,0.10345,5,4.078,13.7199
12,20,Austria,0.907755,81.77,16.0812,12.1487,45415.1,0,20,0.0713659,4,6.894,33.6066
13,22,Korea (Republic of),0.902561,82.361,16.4975,12.1163,35944.7,8,22,0.0630809,11,1.643,17
14,27,Czechia,0.887561,78.877,16.8548,12.7403,30588.3,11,27,0.12406,4,9.995,21.0714
15,28,Italy,0.879769,83.169,16.2722,10.1604,35299.2,3,28,0.0867298,4,6.1,30.1053
16,29,Malta,0.878187,81.012,15.8966,11.2881,34395.6,3,29,0.215616,9,16.624,11.9403
17,30,Estonia,0.871042,77.709,16.0884,12.6674,28993.2,10,30,0.121516,9,12.625,26.7327
18,32,Cyprus,0.868784,80.67,14.5701,12.1039,31567.7,4,32,0.0853835,7,4.582,17.8571
19,35,Andorra,0.857684,81.663,13.524,10.1555,47573.9,-18,35,..,..,..,32.1429
20,44,Chile,0.842859,79.732,16.4006,10.3436,21909.5,13,44,0.319305,22,45.636,15.8228
21,45,Hungary,0.837845,76.063,15.0831,11.8894,25393,3,45,0.258591,17,19.678,10.0503
22,46,Croatia,0.831102,77.807,14.9625,11.2673,22162.3,10,46,0.123816,8,8.925,18.543
23,47,Argentina,0.82485,76.738,17.424,9.94943,18460.7,19,47,0.357872,52,62.79,38.9058
24,49,Russian Federation,0.816275,71.222,15.5357,12.02,24232.6,3,49,0.257458,25,21.553,16.129
25,50,Montenegro,0.813692,77.271,14.9017,11.2872,16778.7,19,50,0.132344,7,11.797,23.4568
26,52,Romania,0.811192,75.574,14.2653,10.9784,22645.5,2,52,0.310502,31,33.063,18.7097
27,57,Malaysia,0.801808,75.452,13.6756,10.1682,26107.3,-11,57,0.286962,40,13.414,13.1034
28,62,Seychelles,0.796529,73.746,14.7805,9.5,26076.9,-15,62,..,..,56.922,21.2121
29,63,Costa Rica,0.793865,80.03,15.3771,8.76355,14636.4,15,63,0.299561,25,53.459,35.0877
30,66,Panama,0.78932,78.195,12.6999,10.17,19178.2,-4,66,0.46115,94,81.828,18.3099
31,70,Antigua and Barbuda,0.779536,76.519,13.2495,9.23618,20763.6,-12,70,..,..,43.513,20
32,72,Saint Kitts and Nevis,0.777845,74.372,14.3895,8.4,23977.6,-19,72,..,..,..,13.3333
33,74,Mexico,0.774035,77.305,14.1042,8.60085,16944.1,-6,74,0.342958,38,60.264,41.4013
34,75,Grenada,0.771948,73.78,16.8699,8.67566,12863.7,12,75,..,27,29.177,25
35,76,Sri Lanka,0.77001,75.485,13.8523,10.915,11325.6,19,76,0.353547,30,14.088,5.77778
36,77,Bosnia and Herzegovina,0.768451,77.087,14.2184,9.69292,11716,16,77,0.165946,11,10.019,19.2982
37,79,Brazil,0.759245,75.723,15.3979,7.76,13755.3,2,79,0.406749,44,61.597,11.2795
38,80,Azerbaijan,0.756965,72.123,12.6504,10.7305,15599.6,-7,80,0.317568,25,53.524,16.8
39,86,China,0.751704,76.41,13.7792,7.848,15269.8,-9,86,0.152358,27,6.408,24.2476
40,92,Mongolia,0.740816,69.465,15.4565,10.1086,10103.1,11,92,0.300991,44,23.632,17.1053
41,98,Tonga,0.725645,73.179,14.3,11.18,5547.17,37,98,0.416165,124,14.662,7.69231
42,99,Saint Vincent and the Grenadines,0.722708,73.294,13.2564,8.6,10498.7,0,99,..,45,49.02,13.0435
43,100,Suriname,0.719612,71.523,12.7,8.507,13305.8,-16,100,0.441065,155,46.034,25.4902
44,104,Samoa,0.712812,75.24,12.52,10.3159,5909.37,24,104,0.365074,51,23.886,10
45,116,Viet Nam,0.693998,76.454,12.6923,8.2,5858.9,14,116,0.304469,54,27.283,26.7206
46,120,Iraq,0.685317,70.038,11.0487,6.81945,17789.2,-53,120,0.506014,50,80.136,25.3049
47,127,Tajikistan,0.650015,71.214,11.2191,10.42,3317.42,25,127,0.31653,32,36.416,20
48,131,Micronesia (Federated States of),0.627255,69.316,11.7,7.95474,3842.91,13,131,..,100,13.924,0
49,134,Kiribati,0.611784,66.506,12.8953,7.86553,3041.87,22,134,..,90,16.177,6.52174
50,140,Ghana,0.591738,63.033,11.6158,7.062,4096.17,3,140,0.538128,319,66.611,12.7273
51,146,Cambodia,0.581975,69.331,11.7211,4.844,3412.94,3,146,0.472926,161,50.177,18.4783
52,154,Tanzania (United Republic of),0.537715,66.31,8.92369,5.78,2655.39,6,154,0.536783,398,115.066,37.1795
53,159,Lesotho,0.519729,54.568,10.564,6.25,3254.91,-4,159,0.543788,487,89.518,22.7273
54,159,Mauritania,0.519644,63.384,8.58813,4.502,3591.76,-13,159,0.616568,602,79.221,25.1701
55,162,Uganda,0.516321,60.182,11.5882,6.09025,1657.98,13,162,0.522601,343,106.502,34.2984
56,168,Afghanistan,0.497695,64.047,10.3972,3.78,1823.53,0,168,0.652725,396,64.462,27.4448
57,173,Ethiopia,0.462664,65.874,8.53962,2.68114,1719.38,-1,173,0.502135,353,62.459,37.2857
58,176,Congo (Democratic Republic of the),0.457469,60.031,9.75,6.75948,795.826,12,176,0.651938,693,124.22,8.16667
59,184,Sierra Leone,0.418987,52.214,9.84887,3.5,1239.94,-2,184,0.644767,1360,112.828,12.3967