# Project 1

### Importing Data

In [972]:
import pandas as pd

In [973]:
df = pd.read_excel("2018_Statistical_Annex_Table_1.xlsx",index_col = False)

### Initial Interpretations

In [974]:
#we use the head function to get a quick sense of the structure of the data
df.head()

,Table 1. Human Development Index and its components,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,SDG 3,NaN,SDG 4.3,NaN,SDG 4.6,NaN,SDG 8.5,NaN,NaN,NaN,NaN
1,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
2,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2011 PPP $),NaN,NaN,NaN,NaN
3,NaN,NaN,2017,NaN,2017,NaN,2017,a,2017,a,2017,NaN,2017,NaN,2016
4,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cleanup

We see that the data is tabulated with some custom nested headers, the field names are spread across rows 3 and 4. In order to make the data more compatible the pandas dataframe structure we will remove the extraneous headings and have the data entries properly aligned.

In [975]:
data = df[5:]

In [976]:
data = data.drop(['Unnamed: 14'], axis = 1) #we don't need two columns for HDI rank. 
data.head()

,Table 1. Human Development Index and its components,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
5,1,Norway,0.952522,NaN,82.328,NaN,17.8521,NaN,12.5668,NaN,68012.5,NaN,5,NaN
6,2,Switzerland,0.943998,NaN,83.473,NaN,16.2088,NaN,13.408,NaN,57625.1,NaN,8,NaN
7,3,Australia,0.938631,NaN,83.068,NaN,22.9213,b,12.855,NaN,43560.1,NaN,18,NaN
8,4,Ireland,0.93841,NaN,81.643,NaN,19.6137,b,12.5263,c,53754.2,NaN,8,NaN
9,5,Germany,0.936043,NaN,81.178,NaN,16.956,NaN,14.082,NaN,46135.8,NaN,13,NaN

In [977]:
headers = df.iloc[1].values.tolist()

In [978]:
headers

[nan,
 nan,
 'Human Development Index (HDI) ',
 nan,
 'Life expectancy at birth',
 nan,
 'Expected years of schooling ',
 nan,
 'Mean years of schooling',
 nan,
 'Gross national income (GNI) per capita',
 nan,
 'GNI per capita rank minus HDI rank',
 nan,
 'HDI rank']

In [979]:
headers[0] = "HDI rank"
headers[1] = "Country"

In [980]:
data.columns = headers[:14] #here we give a slice of the headers list as we have removed the second column for HDI rank

In [981]:
data.head()

,HDI rank,Country,Human Development Index (HDI),nan,Life expectancy at birth,nan,Expected years of schooling,nan,Mean years of schooling,nan,Gross national income (GNI) per capita,nan,GNI per capita rank minus HDI rank,nan
5,1,Norway,0.952522,NaN,82.328,NaN,17.8521,NaN,12.5668,NaN,68012.5,NaN,5,NaN
6,2,Switzerland,0.943998,NaN,83.473,NaN,16.2088,NaN,13.408,NaN,57625.1,NaN,8,NaN
7,3,Australia,0.938631,NaN,83.068,NaN,22.9213,b,12.855,NaN,43560.1,NaN,18,NaN
8,4,Ireland,0.93841,NaN,81.643,NaN,19.6137,b,12.5263,c,53754.2,NaN,8,NaN
9,5,Germany,0.936043,NaN,81.178,NaN,16.956,NaN,14.082,NaN,46135.8,NaN,13,NaN

In [982]:
data = data.loc[:, data.columns.notnull()]
data.head()

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
5,1,Norway,0.952522,82.328,17.8521,12.5668,68012.5,5
6,2,Switzerland,0.943998,83.473,16.2088,13.408,57625.1,8
7,3,Australia,0.938631,83.068,22.9213,12.855,43560.1,18
8,4,Ireland,0.93841,81.643,19.6137,12.5263,53754.2,8
9,5,Germany,0.936043,81.178,16.956,14.082,46135.8,13

Our dataset looks clean! However we can still count the null values.

In [983]:
data.isnull().sum().sum()

374

In [984]:
data.tail(69)

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
196,189,Niger,0.353931,60.422,5.36851,1.95133,905.868,-2
197,NaN,OTHER COUNTRIES OR TERRITORIES,NaN,NaN,NaN,NaN,NaN,NaN
198,..,Korea (Democratic People's Rep. of),..,71.887,12.0002,..,..,..
199,..,Monaco,..,..,..,..,..,..
200,..,Nauru,..,..,10.3143,..,18573,..
201,..,San Marino,..,..,15.1112,..,..,..
202,..,Somalia,..,56.714,..,..,..,..
203,..,Tuvalu,..,..,..,..,5887.72,..
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,Human development groups,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,Very high human development,0.894281,79.4885,16.4405,12.2099,40041.5,—
207,NaN,High human development,0.757415,76.0218,14.1078,8.2263,14998.8,—
208,NaN,Medium human development,0.644983,69.0877,11.9871,6.70488,6849.47,—
209,NaN,Low human development,0.503578,60.7591,9.38661,4.71005,2521.27,—
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,Developing countries,0.681154,70.6626,12.1855,7.31764,10055.1,—
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,Regions,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,Arab States,0.698955,71.5065,11.9061,7.03488,15836.7,—
215,NaN,East Asia and the Pacific,0.733434,74.6674,13.2928,7.86216,13687.7,—
216,NaN,Europe and Central Asia,0.770721,73.3924,14.0874,10.2557,15331.2,—
217,NaN,Latin America and the Caribbean,0.757989,75.7165,14.4407,8.48381,13670.7,—
218,NaN,South Asia,0.637835,69.2612,11.8742,6.41105,6473.29,—
219,NaN,Sub-Saharan Africa,0.537136,60.7172,10.0552,5.55459,3399.25,—
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,Least developed countries,0.52417,64.7753,9.84892,4.68257,2505.88,—
222,NaN,Small island developing states,0.722291,72.268,12.1369,8.59865,15112.8,—
223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NaN,Organisation for Economic Co-operation and Dev...,0.89462,80.5768,16.2425,11.9746,39595.1,—
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
235,NaN,g. Value from UNDESA (2011).,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,h. Imputed mean years of schooling for Austria.,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,i. Estimated using the purchasing power parity...,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,j. Based on Barro and Lee (2016).,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,k. HDRO estimate based on data from World Bank...,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,l. Updated by HDRO using Barro and Lee (2016) ...,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,m. Estimated using the PPP rate and projected ...,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,n. Based on cross-country regression.,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,o. Updated by HDRO based on data from United N...,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,p. Based on a cross-country regression and the...,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,q. Updated by HDRO based on data from ICF Macr...,NaN,NaN,NaN,NaN,NaN,NaN
246,NaN,r. Updated by HDRO based on Syrian Center for ...,NaN,NaN,NaN,NaN,NaN,NaN
247,NaN,s. HDRO estimate based on data from World Bank...,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,Definitions,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,Human Development Index (HDI): A composite ind...,NaN,NaN,NaN,NaN,NaN,NaN
251,NaN,Life expectancy at birth: Number of years a ne...,NaN,NaN,NaN,NaN,NaN,NaN
252,NaN,Expected years of schooling: Number of years o...,NaN,NaN,NaN,NaN,NaN,NaN
253,NaN,Mean years of schooling: Average number of yea...,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,Gross national income (GNI) per capita: Aggreg...,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,GNI per capita rank minus HDI rank: Difference...,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,HDI rank for 2016: Ranking by HDI value for 20...,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,NaN,Main data sources,NaN,NaN,NaN,NaN,NaN,NaN
259,NaN,Columns 1 and 7: HDRO calculations based on da...,NaN,NaN,NaN,NaN,NaN,NaN
260,NaN,Column 2: UNDESA (2017a).,NaN,NaN,NaN,NaN,NaN,NaN
261,NaN,Column 3: UNESCO Institute for Statistics (201...,NaN,NaN,NaN,NaN,NaN,NaN
262,NaN,Column 4: UNESCO Institute for Statistics (201...,NaN,NaN,NaN,NaN,NaN,NaN
263,NaN,"Column 5: World Bank (2018b), IMF (2018) and U...",NaN,NaN,NaN,NaN,NaN,NaN
264,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN

It appears our data is still full of null values. The end of our dataset is the issue. We can remove these problematic rows by keeping only rows with numeric values for 'HDI rank'.

In [985]:
data = data[pd.to_numeric(data['HDI rank'], errors='coerce').notnull()]
data.isnull().sum().sum() # count the null values again

0

In [986]:
data.head()

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
5,1,Norway,0.952522,82.328,17.8521,12.5668,68012.5,5
6,2,Switzerland,0.943998,83.473,16.2088,13.408,57625.1,8
7,3,Australia,0.938631,83.068,22.9213,12.855,43560.1,18
8,4,Ireland,0.93841,81.643,19.6137,12.5263,53754.2,8
9,5,Germany,0.936043,81.178,16.956,14.082,46135.8,13

In [987]:
data.to_csv("out.csv")

## Expanding

Now we can add some data from another table to our dataset. We can start by cleaning this data. We'll follow many of the same steps as before.

In [988]:
df = pd.read_excel("2018_Statistical_Annex_Table_5.xlsx",index_col = False)
df.head(10)

,Table 5. Gender Inequality Index,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,SDG3.1,NaN,SDG3.7,NaN,SDG5.5,NaN,SDG4.6,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Gender Inequality Index,NaN,NaN,NaN,Maternal mortality ratio,NaN,Adolescent birth rate,NaN,Share of seats in parliament,NaN,Population with at least some secondary education,NaN,NaN,NaN,Labour force participation rate,NaN,NaN
3,NaN,NaN,Value,NaN,Rank,NaN,"(deaths per 100,000 live births)",NaN,"(births per 1,000 women ages 15–19)",NaN,(% held by women),NaN,(% ages 25 and older),NaN,NaN,NaN,(% ages 15 and older),NaN,NaN
4,HDI rank,Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,NaN,Male,NaN,Female,NaN,Male
5,NaN,NaN,2017,NaN,2017,NaN,2015,NaN,2015-2020,b,2017,NaN,2010–2017,c,2010–2017,c,2017,NaN,2017
6,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,Norway,0.0481388,NaN,5,NaN,5,NaN,5.592,NaN,41.4201,NaN,96.2987,NaN,95.113,NaN,60.8,NaN,67.6
8,2,Switzerland,0.0393197,NaN,1,NaN,5,NaN,2.989,NaN,29.2683,NaN,96.3714,NaN,97.1626,NaN,62.9,NaN,74.1
9,3,Australia,0.109091,NaN,23,NaN,6,NaN,12.902,NaN,32.7434,NaN,90.0339,NaN,89.9195,NaN,59.2,NaN,70.5

In [989]:
gender_inequality_data = df[7:]
gender_inequality_data.head()

,Table 5. Gender Inequality Index,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
7,1,Norway,0.0481388,NaN,5,NaN,5,NaN,5.592,NaN,41.4201,NaN,96.2987,NaN,95.113,NaN,60.8,NaN,67.6
8,2,Switzerland,0.0393197,NaN,1,NaN,5,NaN,2.989,NaN,29.2683,NaN,96.3714,NaN,97.1626,NaN,62.9,NaN,74.1
9,3,Australia,0.109091,NaN,23,NaN,6,NaN,12.902,NaN,32.7434,NaN,90.0339,NaN,89.9195,NaN,59.2,NaN,70.5
10,4,Ireland,0.109382,NaN,23,NaN,8,NaN,9.662,NaN,24.3119,NaN,90.238,NaN,86.308,NaN,53,NaN,67.3
11,5,Germany,0.0720575,NaN,14,NaN,6,NaN,6.535,NaN,31.491,NaN,96.2394,NaN,96.831,NaN,55,NaN,66.2

In [990]:
headers = df.iloc[2].values.tolist()
headers

[nan,
 nan,
 'Gender Inequality Index',
 nan,
 nan,
 nan,
 'Maternal mortality ratio',
 nan,
 'Adolescent birth rate',
 nan,
 'Share of seats in parliament',
 nan,
 'Population with at least some secondary education',
 nan,
 nan,
 nan,
 'Labour force participation rate ',
 nan,
 nan]

In [991]:
headers[0] = 'HDI rank'
headers[1] = 'Country'

In [992]:
gender_inequality_data.columns = headers
gender_inequality_data.head()

,HDI rank,Country,Gender Inequality Index,nan,nan,nan,Maternal mortality ratio,nan,Adolescent birth rate,nan,Share of seats in parliament,nan,Population with at least some secondary education,nan,nan,nan,Labour force participation rate,nan,nan
7,1,Norway,0.0481388,NaN,5,NaN,5,NaN,5.592,NaN,41.4201,NaN,96.2987,NaN,95.113,NaN,60.8,NaN,67.6
8,2,Switzerland,0.0393197,NaN,1,NaN,5,NaN,2.989,NaN,29.2683,NaN,96.3714,NaN,97.1626,NaN,62.9,NaN,74.1
9,3,Australia,0.109091,NaN,23,NaN,6,NaN,12.902,NaN,32.7434,NaN,90.0339,NaN,89.9195,NaN,59.2,NaN,70.5
10,4,Ireland,0.109382,NaN,23,NaN,8,NaN,9.662,NaN,24.3119,NaN,90.238,NaN,86.308,NaN,53,NaN,67.3
11,5,Germany,0.0720575,NaN,14,NaN,6,NaN,6.535,NaN,31.491,NaN,96.2394,NaN,96.831,NaN,55,NaN,66.2

Now we decide which columns we want to use.

In [993]:
useful_columns = [headers[0], headers[1], headers[2], headers[6], headers[8], headers[10]]
useful_columns

['HDI rank',
 'Country',
 'Gender Inequality Index',
 'Maternal mortality ratio',
 'Adolescent birth rate',
 'Share of seats in parliament']

We drop the other columns and any rows in our data set that do not have numeric values for HDI rank.

In [994]:
gender_inequality_data = gender_inequality_data.loc[:, useful_columns]
gender_inequality_data = gender_inequality_data[pd.to_numeric(gender_inequality_data['HDI rank'], errors='coerce').notnull()]
gender_inequality_data.tail()

,HDI rank,Country,Gender Inequality Index,Maternal mortality ratio,Adolescent birth rate,Share of seats in parliament
194,185,Burundi,0.470664,712,26.782,37.8049
195,186,Chad,0.708285,856,161.09,12.766
196,187,South Sudan,..,789,62.04,26.5589
197,188,Central African Republic,0.673356,882,103.802,8.57143
198,189,Niger,0.648882,553,191.984,16.9591


Finally we can merge our tables on HDI rank and Country

In [995]:
data = pd.merge(data, gender_inequality_data, on=['HDI rank','Country'])
data.head()

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,Gender Inequality Index,Maternal mortality ratio,Adolescent birth rate,Share of seats in parliament
0,1,Norway,0.952522,82.328,17.8521,12.5668,68012.5,5,0.0481388,5,5.592,41.4201
1,2,Switzerland,0.943998,83.473,16.2088,13.408,57625.1,8,0.0393197,5,2.989,29.2683
2,3,Australia,0.938631,83.068,22.9213,12.855,43560.1,18,0.109091,6,12.902,32.7434
3,4,Ireland,0.93841,81.643,19.6137,12.5263,53754.2,8,0.109382,8,9.662,24.3119
4,5,Germany,0.936043,81.178,16.956,14.082,46135.8,13,0.0720575,6,6.535,31.491

Finally, lets store this in a csv file

In [996]:
data.to_csv("largerdataset.csv")

In [997]:
df = pd.read_excel("2018_Statistical_Annex_Table_2.xlsx",index_col = False)
df.head()

,"Table 2. Human Development Index Trends, 1990-2017",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Human Development Index (HDI),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Change in HDI rank,NaN,Average annual HDI growth,NaN,NaN,NaN,NaN,NaN,NaN
2,HDI rank,Country,Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,(%),NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,1990,NaN,2000,NaN,2010,NaN,2012,NaN,...,NaN,2012-2017,a,1990-2000,NaN,2000-2010,NaN,2010-2017,NaN,1990-2017
4,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [998]:
HDI_by_year = df[5:]
HDI_by_year.head()

,"Table 2. Human Development Index Trends, 1990-2017",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
5,1,Norway,0.850055,NaN,0.916662,NaN,0.941578,NaN,0.942183,NaN,...,NaN,0,NaN,0.757228,NaN,0.268552,NaN,0.165216,NaN,0.422417
6,2,Switzerland,0.831946,NaN,0.889001,NaN,0.931986,NaN,0.935192,NaN,...,NaN,0,NaN,0.665517,NaN,0.473307,NaN,0.183109,NaN,0.469083
7,3,Australia,0.86627,NaN,0.898234,NaN,0.92303,NaN,0.928782,NaN,...,NaN,0,NaN,0.362995,NaN,0.272678,NaN,0.239731,NaN,0.297574
8,4,Ireland,0.763408,NaN,0.856646,NaN,0.909464,NaN,0.901784,NaN,...,NaN,13,NaN,1.15899,NaN,0.600099,NaN,0.448591,NaN,0.767352
9,5,Germany,0.80105,NaN,0.868406,NaN,0.920718,NaN,0.927735,NaN,...,NaN,-1,NaN,0.810623,NaN,0.586663,NaN,0.236106,NaN,0.578476

In [999]:
headers = df.iloc[2].values.tolist()
years = df.iloc[3].values.tolist()

In [1000]:
years[0] = headers[0]
years[1] = headers[1]

In [1001]:
HDI_by_year.columns = years
desired_columns = [years[0],years[1],years[2],years[4],years[6],years[8],years[10],years[12],years[14],years[16]]
desired_columns

['HDI rank', 'Country', '1990', '2000', '2010', 2012, 2014, 2015, 2016, 2017]

In [1002]:
HDI_by_year = HDI_by_year.loc[:, desired_columns]
HDI_by_year = HDI_by_year[pd.to_numeric(HDI_by_year['HDI rank'], errors='coerce').notnull()]
HDI_by_year.head()

,HDI rank,Country,1990,2000,2010,2012,2014,2015,2016,2017
5,1,Norway,0.850055,0.916662,0.941578,0.942183,0.945642,0.948002,0.951248,0.952522
6,2,Switzerland,0.831946,0.889001,0.931986,0.935192,0.93939,0.941886,0.943189,0.943998
7,3,Australia,0.86627,0.898234,0.92303,0.928782,0.933226,0.935633,0.937868,0.938631
8,4,Ireland,0.763408,0.856646,0.909464,0.901784,0.921118,0.929217,0.934475,0.93841
9,5,Germany,0.80105,0.868406,0.920718,0.927735,0.930015,0.932674,0.934152,0.936043

In [1003]:
data = pd.merge(data, HDI_by_year, on=['HDI rank','Country'])
data.head()

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,Gender Inequality Index,Maternal mortality ratio,Adolescent birth rate,Share of seats in parliament,1990,2000,2010,2012,2014,2015,2016,2017
0,1,Norway,0.952522,82.328,17.8521,12.5668,68012.5,5,0.0481388,5,5.592,41.4201,0.850055,0.916662,0.941578,0.942183,0.945642,0.948002,0.951248,0.952522
1,2,Switzerland,0.943998,83.473,16.2088,13.408,57625.1,8,0.0393197,5,2.989,29.2683,0.831946,0.889001,0.931986,0.935192,0.93939,0.941886,0.943189,0.943998
2,3,Australia,0.938631,83.068,22.9213,12.855,43560.1,18,0.109091,6,12.902,32.7434,0.86627,0.898234,0.92303,0.928782,0.933226,0.935633,0.937868,0.938631
3,4,Ireland,0.93841,81.643,19.6137,12.5263,53754.2,8,0.109382,8,9.662,24.3119,0.763408,0.856646,0.909464,0.901784,0.921118,0.929217,0.934475,0.93841
4,5,Germany,0.936043,81.178,16.956,14.082,46135.8,13,0.0720575,6,6.535,31.491,0.80105,0.868406,0.920718,0.927735,0.930015,0.932674,0.934152,0.936043

In [1005]:
data.to_csv("completeDataset.csv")