# Project 1

### Importing Data

In [148]:
import pandas as pd

In [149]:
df = pd.read_excel("2018_Statistical_Annex_Table_1.xlsx",index_col = False)

### Initial Interpretations

In [150]:
#we use the head function to get a quick sense of the structure of the data
df.head(20)

,Table 1. Human Development Index and its components,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,SDG 3,NaN,SDG 4.3,NaN,SDG 4.6,NaN,SDG 8.5,NaN,NaN,NaN,NaN
1,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
2,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2011 PPP $),NaN,NaN,NaN,NaN
3,NaN,NaN,2017,NaN,2017,NaN,2017,a,2017,a,2017,NaN,2017,NaN,2016
4,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Norway,0.952522,NaN,82.328,NaN,17.8521,NaN,12.5668,NaN,68012.5,NaN,5,NaN,1
6,2,Switzerland,0.943998,NaN,83.473,NaN,16.2088,NaN,13.408,NaN,57625.1,NaN,8,NaN,2
7,3,Australia,0.938631,NaN,83.068,NaN,22.9213,b,12.855,NaN,43560.1,NaN,18,NaN,3
8,4,Ireland,0.93841,NaN,81.643,NaN,19.6137,b,12.5263,c,53754.2,NaN,8,NaN,4
9,5,Germany,0.936043,NaN,81.178,NaN,16.956,NaN,14.082,NaN,46135.8,NaN,13,NaN,4
10,6,Iceland,0.934879,NaN,82.912,NaN,19.3479,b,12.3638,c,45810.2,NaN,13,NaN,6
11,7,"Hong Kong, China (SAR)",0.932583,NaN,84.097,NaN,16.3257,NaN,12.0381,NaN,58419.7,NaN,2,NaN,8
12,7,Sweden,0.932805,NaN,82.625,NaN,17.6346,NaN,12.4261,NaN,47765.7,NaN,9,NaN,7
13,9,Singapore,0.932042,NaN,83.218,NaN,16.2,d,11.4747,NaN,82503.1,e,-6,NaN,8
14,10,Netherlands,0.930639,NaN,82.005,NaN,18.0448,NaN,12.19,NaN,47899.8,NaN,5,NaN,10
15,11,Denmark,0.929474,NaN,80.878,NaN,19.0661,b,12.5878,f,47918.5,NaN,3,NaN,10
16,12,Canada,0.925952,NaN,82.541,NaN,16.4374,c,13.2819,NaN,43433.2,NaN,10,NaN,12
17,13,United States,0.923914,NaN,79.541,NaN,16.4682,NaN,13.38,NaN,54941.1,NaN,-2,NaN,12
18,14,United Kingdom,0.921549,NaN,81.717,NaN,17.4429,NaN,12.8887,f,39116.3,NaN,13,NaN,14
19,15,Finland,0.919653,NaN,81.496,NaN,17.6397,NaN,12.4396,NaN,41002.3,NaN,10,NaN,15

We see that the data is tabulated with some custom nested headers, the field names are spread across rows 3 and 4. In order to make the data more compatible the pandas dataframe structure we will remove the extraneous headings and have the data entries properly aligned.

In [151]:
data = df[5:]

In [152]:
data.head(10)

,Table 1. Human Development Index and its components,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
5,1,Norway,0.952522,NaN,82.328,NaN,17.8521,NaN,12.5668,NaN,68012.5,NaN,5,NaN,1
6,2,Switzerland,0.943998,NaN,83.473,NaN,16.2088,NaN,13.408,NaN,57625.1,NaN,8,NaN,2
7,3,Australia,0.938631,NaN,83.068,NaN,22.9213,b,12.855,NaN,43560.1,NaN,18,NaN,3
8,4,Ireland,0.93841,NaN,81.643,NaN,19.6137,b,12.5263,c,53754.2,NaN,8,NaN,4
9,5,Germany,0.936043,NaN,81.178,NaN,16.956,NaN,14.082,NaN,46135.8,NaN,13,NaN,4
10,6,Iceland,0.934879,NaN,82.912,NaN,19.3479,b,12.3638,c,45810.2,NaN,13,NaN,6
11,7,"Hong Kong, China (SAR)",0.932583,NaN,84.097,NaN,16.3257,NaN,12.0381,NaN,58419.7,NaN,2,NaN,8
12,7,Sweden,0.932805,NaN,82.625,NaN,17.6346,NaN,12.4261,NaN,47765.7,NaN,9,NaN,7
13,9,Singapore,0.932042,NaN,83.218,NaN,16.2,d,11.4747,NaN,82503.1,e,-6,NaN,8
14,10,Netherlands,0.930639,NaN,82.005,NaN,18.0448,NaN,12.19,NaN,47899.8,NaN,5,NaN,10

In [153]:
headers = df.iloc[1].values.tolist()

In [154]:
headers

[nan,
 nan,
 'Human Development Index (HDI) ',
 nan,
 'Life expectancy at birth',
 nan,
 'Expected years of schooling ',
 nan,
 'Mean years of schooling',
 nan,
 'Gross national income (GNI) per capita',
 nan,
 'GNI per capita rank minus HDI rank',
 nan,
 'HDI rank']

In [155]:
headers[0] = "HDI Rank"
headers[1] = "Country"

In [156]:
data.columns = headers

In [157]:
data.head()

,HDI Rank,Country,Human Development Index (HDI),nan,Life expectancy at birth,nan,Expected years of schooling,nan,Mean years of schooling,nan,Gross national income (GNI) per capita,nan,GNI per capita rank minus HDI rank,nan,HDI rank
5,1,Norway,0.952522,NaN,82.328,NaN,17.8521,NaN,12.5668,NaN,68012.5,NaN,5,NaN,1
6,2,Switzerland,0.943998,NaN,83.473,NaN,16.2088,NaN,13.408,NaN,57625.1,NaN,8,NaN,2
7,3,Australia,0.938631,NaN,83.068,NaN,22.9213,b,12.855,NaN,43560.1,NaN,18,NaN,3
8,4,Ireland,0.93841,NaN,81.643,NaN,19.6137,b,12.5263,c,53754.2,NaN,8,NaN,4
9,5,Germany,0.936043,NaN,81.178,NaN,16.956,NaN,14.082,NaN,46135.8,NaN,13,NaN,4

In [158]:
data = data.loc[:, data.columns.notnull()]
data.head()

,HDI Rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
5,1,Norway,0.952522,82.328,17.8521,12.5668,68012.5,5,1
6,2,Switzerland,0.943998,83.473,16.2088,13.408,57625.1,8,2
7,3,Australia,0.938631,83.068,22.9213,12.855,43560.1,18,3
8,4,Ireland,0.93841,81.643,19.6137,12.5263,53754.2,8,4
9,5,Germany,0.936043,81.178,16.956,14.082,46135.8,13,4

Our dataset looks clean! However we can still count the null values.

In [159]:
data.isnull().sum().sum()

424

In [160]:
data.tail(69)

,HDI Rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
196,189,Niger,0.353931,60.422,5.36851,1.95133,905.868,-2,188
197,NaN,OTHER COUNTRIES OR TERRITORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,..,Korea (Democratic People's Rep. of),..,71.887,12.0002,..,..,..,..
199,..,Monaco,..,..,..,..,..,..,..
200,..,Nauru,..,..,10.3143,..,18573,..,..
201,..,San Marino,..,..,15.1112,..,..,..,..
202,..,Somalia,..,56.714,..,..,..,..,..
203,..,Tuvalu,..,..,..,..,5887.72,..,..
204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,NaN,Human development groups,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,NaN,Very high human development,0.894281,79.4885,16.4405,12.2099,40041.5,—,—
207,NaN,High human development,0.757415,76.0218,14.1078,8.2263,14998.8,—,—
208,NaN,Medium human development,0.644983,69.0877,11.9871,6.70488,6849.47,—,—
209,NaN,Low human development,0.503578,60.7591,9.38661,4.71005,2521.27,—,—
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,NaN,Developing countries,0.681154,70.6626,12.1855,7.31764,10055.1,—,—
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,Regions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,Arab States,0.698955,71.5065,11.9061,7.03488,15836.7,—,—
215,NaN,East Asia and the Pacific,0.733434,74.6674,13.2928,7.86216,13687.7,—,—
216,NaN,Europe and Central Asia,0.770721,73.3924,14.0874,10.2557,15331.2,—,—
217,NaN,Latin America and the Caribbean,0.757989,75.7165,14.4407,8.48381,13670.7,—,—
218,NaN,South Asia,0.637835,69.2612,11.8742,6.41105,6473.29,—,—
219,NaN,Sub-Saharan Africa,0.537136,60.7172,10.0552,5.55459,3399.25,—,—
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,NaN,Least developed countries,0.52417,64.7753,9.84892,4.68257,2505.88,—,—
222,NaN,Small island developing states,0.722291,72.268,12.1369,8.59865,15112.8,—,—
223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NaN,Organisation for Economic Co-operation and Dev...,0.89462,80.5768,16.2425,11.9746,39595.1,—,—
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
235,NaN,g. Value from UNDESA (2011).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,NaN,h. Imputed mean years of schooling for Austria.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,NaN,i. Estimated using the purchasing power parity...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,NaN,j. Based on Barro and Lee (2016).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,NaN,k. HDRO estimate based on data from World Bank...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,NaN,l. Updated by HDRO using Barro and Lee (2016) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,NaN,m. Estimated using the PPP rate and projected ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,n. Based on cross-country regression.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,o. Updated by HDRO based on data from United N...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,NaN,p. Based on a cross-country regression and the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,NaN,q. Updated by HDRO based on data from ICF Macr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,NaN,r. Updated by HDRO based on Syrian Center for ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,NaN,s. HDRO estimate based on data from World Bank...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,Definitions,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,NaN,Human Development Index (HDI): A composite ind...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,NaN,Life expectancy at birth: Number of years a ne...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,NaN,Expected years of schooling: Number of years o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,NaN,Mean years of schooling: Average number of yea...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,Gross national income (GNI) per capita: Aggreg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,GNI per capita rank minus HDI rank: Difference...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,HDI rank for 2016: Ranking by HDI value for 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,NaN,Main data sources,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,NaN,Columns 1 and 7: HDRO calculations based on da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,NaN,Column 2: UNDESA (2017a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,NaN,Column 3: UNESCO Institute for Statistics (201...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,NaN,Column 4: UNESCO Institute for Statistics (201...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,NaN,"Column 5: World Bank (2018b), IMF (2018) and U...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It appears our data is still full of null values and the end of our dataset is the issue. We can remove these problematic rows by keeping only rows with numeric values for 'HDI rank'.

In [161]:
data = data[pd.to_numeric(data['HDI rank'], errors='coerce').notnull()]
data.isnull().sum().sum() # count the null values again

0

In [162]:
data.head(69)

,HDI Rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
5,1,Norway,0.952522,82.328,17.8521,12.5668,68012.5,5,1
6,2,Switzerland,0.943998,83.473,16.2088,13.408,57625.1,8,2
7,3,Australia,0.938631,83.068,22.9213,12.855,43560.1,18,3
8,4,Ireland,0.93841,81.643,19.6137,12.5263,53754.2,8,4
9,5,Germany,0.936043,81.178,16.956,14.082,46135.8,13,4
10,6,Iceland,0.934879,82.912,19.3479,12.3638,45810.2,13,6
11,7,"Hong Kong, China (SAR)",0.932583,84.097,16.3257,12.0381,58419.7,2,8
12,7,Sweden,0.932805,82.625,17.6346,12.4261,47765.7,9,7
13,9,Singapore,0.932042,83.218,16.2,11.4747,82503.1,-6,8
14,10,Netherlands,0.930639,82.005,18.0448,12.19,47899.8,5,10
15,11,Denmark,0.929474,80.878,19.0661,12.5878,47918.5,3,10
16,12,Canada,0.925952,82.541,16.4374,13.2819,43433.2,10,12
17,13,United States,0.923914,79.541,16.4682,13.38,54941.1,-2,12
18,14,United Kingdom,0.921549,81.717,17.4429,12.8887,39116.3,13,14
19,15,Finland,0.919653,81.496,17.6397,12.4396,41002.3,10,15
20,16,New Zealand,0.916688,82.038,18.8651,12.503,33969.7,18,16
21,17,Belgium,0.916066,81.303,19.7624,11.7839,42156.4,6,16
22,17,Liechtenstein,0.916083,80.41,14.7209,12.5485,97335.7,-15,16
23,19,Japan,0.909153,83.908,15.2328,12.75,38986.2,9,19
24,20,Austria,0.907755,81.77,16.0812,12.1487,45415.1,0,20
25,21,Luxembourg,0.903939,81.955,14.016,12.0801,65016.3,-13,26
26,22,Israel,0.903245,82.664,15.9101,12.9592,32711.4,13,21
27,22,Korea (Republic of),0.902561,82.361,16.4975,12.1163,35944.7,8,22
28,24,France,0.900802,82.716,16.4159,11.5108,39253.9,2,23
29,25,Slovenia,0.896224,81.116,17.2139,12.2219,30594,12,24
30,26,Spain,0.89102,83.301,17.877,9.81948,34258.3,7,25
31,27,Czechia,0.887561,78.877,16.8548,12.7403,30588.3,11,27
32,28,Italy,0.879769,83.169,16.2722,10.1604,35299.2,3,28
33,29,Malta,0.878187,81.012,15.8966,11.2881,34395.6,3,29
34,30,Estonia,0.871042,77.709,16.0884,12.6674,28993.2,10,30
...,...,...,...,...,...,...,...,...,...
44,39,Saudi Arabia,0.853299,74.72,16.929,9.50218,49680.2,-26,38
45,41,Latvia,0.847143,74.719,15.7584,12.8438,25002.5,8,43
46,41,Portugal,0.847113,81.428,16.2965,9.19096,27315.4,2,42
47,43,Bahrain,0.846108,77.038,15.9868,9.41183,41579.9,-19,41
48,44,Chile,0.842859,79.732,16.4006,10.3436,21909.5,13,44
49,45,Hungary,0.837845,76.063,15.0831,11.8894,25393,3,45
50,46,Croatia,0.831102,77.807,14.9625,11.2673,22162.3,10,46
51,47,Argentina,0.82485,76.738,17.424,9.94943,18460.7,19,47
52,48,Oman,0.820989,77.258,13.9449,9.54601,36290.2,-19,47
53,49,Russian Federation,0.816275,71.222,15.5357,12.02,24232.6,3,49
54,50,Montenegro,0.813692,77.271,14.9017,11.2872,16778.7,19,50
55,51,Bulgaria,0.813006,74.874,14.8105,11.8148,18740.1,13,50
56,52,Romania,0.811192,75.574,14.2653,10.9784,22645.5,2,52
57,53,Belarus,0.80753,73.07,15.4513,12.2638,16323.5,18,54
58,54,Bahamas,0.807126,75.823,12.8226,11.0799,26680.6,-10,53
59,55,Uruguay,0.803948,77.645,15.9098,8.71883,19930.4,5,56
60,56,Kuwait,0.803066,74.811,13.5873,7.27567,70523.9,-51,55
61,57,Malaysia,0.801808,75.452,13.6756,10.1682,26107.3,-11,57
62,58,Barbados,0.800269,76.057,15.2926,10.5569,15842.9,14,57
63,58,Kazakhstan,0.800435,70.027,15.149,11.784,22626.4,-3,60
65,60,Iran (Islamic Republic of),0.798057,76.153,14.8806,9.84018,19130.2,3,61
66,60,Palau,0.798478,73.445,15.6038,12.3273,12830.6,28,59
67,62,Seychelles,0.796529,73.746,14.7805,9.5,26076.9,-15,62
68,63,Costa Rica,0.793865,80.03,15.3771,8.76355,14636.4,15,63
69,64,Turkey,0.790634,76.009,15.2376,7.96206,24804,-14,65
70,65,Mauritius,0.79012,74.861,15.0573,9.32,20189.3,-6,64
71,66,Panama,0.78932,78.195,12.6999,10.17,19178.2,-4,66
72,67,Serbia,0.786693,75.333,14.6419,11.1272,13018.7,18,66
73,68,Albania,0.784911,78.495,14.7729,10.0251,11885.5,23,69
74,69,Trinidad and Tobago,0.783915,70.783,12.9,10.898,28622.3,-28,66

In [164]:
data.to_csv("out.csv")